 body {
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
 }

 .left {
     width: 25vw;
     padding: 10px;
 }

 .right {
     width: 75vw;
 }

 .home ul {
     width: 2px;
     list-style: none;
     align-items: flex-start;
     margin: 0;
     padding: 0;
     flex-direction: column;
     padding-top: 10px;
     font-weight: bold;
 }

 .home {
     padding: 10px;
 }

 .home img {
     width: 24px;
     height: 24px;
 }

 .footer {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 10px;
     position: absolute;
     bottom: 0;
 }

 .right {
     margin-top: 15px;
     margin-bottom: 10px;
 }

 .libarary {
     min-height: 50vw;
     position: relative;
 }

 a {
     text-decoration: none;
     color: grey;
 }

 .nav img {
     width: 24px;
     height: 24px;
     filter: invert(1);
 }

 .header {
     display: flex;
     justify-content: space-between;
     gap: 10px;
     background-color: rgb(61, 61, 61);
 }

 .header>* {
     padding: 20px;
 }
 .spotify-list{padding:10px ;}