body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 70vw;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
}

.home ul {
    width: 2px;
    list-style: none;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-direction: column;
    padding-top: 10px;
    font-weight: bold;
}

.home {
    padding: 10px;
}

.home img {
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.libarary {
    min-height: 50vw;
    position: relative;
}

a {
    text-decoration: none;
    color: grey;
}

.nav img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(61, 61, 61);
}

.header>* {
    padding: 20px;
}

.spotify-list {
    padding: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.cards {
    width: 120px;
    background-color: #121212;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cards img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

.card-description {
    font-size: 13px;
    color: #b3b3b3;
}
.playbar{
    bottom: 0;
    position: absolute;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
  
    position: fixed;
    justify-content: center;
    
}
.songbutton{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.songslist ul{
    padding-bottom: 12px;

}
.songslist ul li{
    list-style:none;
    display: flex;
    gap: 34px;
    cursor:pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    margin-right: 3px;
      
     
}
.playnow {
    display: flex  ;
    font-family: 10px;
    width: 64px;
    justify-content: space space-between;
    align-items: center;
}

