 .border {
     border: 2px solid red;
     margin: 3px;
 }

 .flex {
     display: flex;
 }

 .justify-center {
     justify-content: center;
 }

 .items-align {
     align-items: center;
 }
 .bg-black{
    background-color: black;
    color: white;
 }
.rounded{
border: 10px;
}
.invert{filter: invert(1);}
.bg-gray{
    background-color: #121212;
}
.m-1{
    margin: 5px;
}